.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  min-width: 150px;
  padding: 0 1rem;
  border-radius: 10rem;
  border: solid 7.5px transparent;
  font-size: 1.2rem;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  box-shadow: 0px 40px 0px #1b2845 inset;
  background-image: linear-gradient(45deg, #082c46 0%, #2a82e7 74%);
  background-origin: border-box;
  background-size: 150% 100%;
  background-position: left;
  background-repeat: no-repeat;
  outline-style: none;
  transition: 300ms;

  &:hover {
    color: black;
    background-position: right;
    box-shadow: 0px 40px 0px transparent inset;
  }

  &:focus {
    color: black;
    background-position: right;
    box-shadow: 0px 40px 0px transparent inset;
  }
}