* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, button {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
  text-decoration: none;
}

.leaflet-container {
  height: calc(100vh - 75px);
}


.leaflet-popup, .leaflet-popup-content {
  width: 300px !important;
  margin: 20px;
}

.leaflet-control-zoom {
  right: 0 !important;
}
